RewriteEngine On

#launchcircle.com/page will display the contents of launchcircle.com/page.html
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
    RewriteRule ^(.+)$ $1.html [L,QSA]

#301 from launchcircle.com/page.html to launchcircle.com/page
RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /.*\.html\ HTTP/
    RewriteRule ^(.*)\.html$ /$1 [R=301,L]

#301 from launchcircle.com/index.html to launchcircle.com/
RewriteCond %{REQUEST_URI} ^/index$
	RewriteRule . / [R=301,L]